---
---
$color-fg-dark: #444;
$color-fg-light: #FEFEFE;
$color-bg-dark: #222;
$color-bg-light: #FEFEFE;
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400');
@import '_paleta';

html, body, table {
 font-family: 'Open Sans', Verdana, sans-serif;
 font-size: 12pt;
 color: $color-fg-dark;
}


h1, h2, h3, h4, h5, h6, .standout {
 font-family: 'Open Sans', Verdana, sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 color: $color-primary-0;
}

.standout {
 font-size: 165%;
 margin-top: 4ex;
 margin-bottom: 4ex;
}

.img-photo {
 border-radius: 6px;
}

#page-home h1, #page-home h2, #page-home h3, #page-home h4, #page-home h5, #page-home h6, #page-home .standout {
 text-align: center;
}

.navbar {
 margin-bottom: 10px;
 margin-bottom: 0;
 background: transparent;
 border: 0;
 font-size: 10.5pt;
}

.navbar-brand {
 padding-top: 10px;
}

.navbar-nav a:hover {
 color: $color-primary-1 !important;
}

a {
 transition: color 0.35s;
}

a:link {
 color: $color-primary-0;
}


a:hover {
 color: $color-primary-1;
}


.hero-unit {
 padding-top: 8ex;
 padding-bottom: 8ex;
 text-align: center;
 background-position: center;
 background-size: cover;
 background-repeat: none;
 font-size: 120%;
 color: $color-fg-light;
 text-shadow: 0 0 4pt #000;
}

#page-article header h1, .hero-unit h1 {
 color: $color-fg-light;
 font-family: Lato, Verdana, sans-serif;
 font-weight: normal;
}

.hero-unit p {
 margin-bottom: 4ex;
}

.hero-unit p:last-child {
 margin-bottom: 0;
}

.hero-unit .btn {
 text-shadow: none;
 margin-top: 20px;
 background: rgba(0,0,0, 0.25);
}

.section-overlay {
 position: relative;
}

.section-overlay:before {
 content: "";
 position: absolute;
 left: 0; right: 0;
 top: 0; bottom: 0;
}

.block-overlay {
  padding: 2ex 4ex 4ex;
  margin: -2ex -4ex -4ex;
  border-radius: 8px;
}

.section-overlay-dark:before,
.block-overlay-dark {
 background: rgba(0,0,0, 0.65);
}

main section {
 padding-top: 4ex;
 padding-bottom: 4ex;
 line-height: 175%;
}


main ul {
 list-style: none;
 list-style-position: outside;
 padding: 0;
 margin: 0;
}

main ul li {
 margin-top: 1.25ex;
 margin-bottom: 1.25ex;
 padding-left: 1.5em;
}

main ul li:before {
 content: "\002022";
 font-weight: bold;
 position: absolute;
 margin-left: -1em;
 color: $color-complement-3;
}


main ul.checklist li {
 padding-left: 2em;
 margin-bottom: 2.5ex;
}

main ul.checklist li:before {
 content: "\00f058";
 font-family: "Font Awesome 5 Free";
 font-weight: normal;
 position: absolute;
 margin-left: -1.5em;
}


main ol {
 list-style-position: outside;
}

main p {
 margin-top: 2.5ex;
 margin-bottom: 2.5ex;
}

main p,
main li {
 line-height: 3.5ex;
}

main p:first-child {
 margin-top: 0;
}

main p:last-child {
 margin-bottom: 0;
}


.container {
 max-width: 780pt;
}

.container-narrow {
 max-width: 500pt;
}

#page-article .container {
 max-width: 600pt;
}

#page-home main .hero-unit,
#page-article main header,
.hero-primary {
 padding-top: 8ex;
 padding-bottom: 8ex;
 background-position: center;
 background-size: cover;
 background-repeat: none;
 background-color: $color-primary-4;
 background-image: url(../img/pexels-photo.jpg);
 font-size: 120%;
 text-shadow: 0 0 4pt #000;
}

#page-article main header {
 margin-bottom: 6ex;
}


#page-article h1 {
 margin-top: 3ex;
 margin-bottom: 2ex;
 border-bottom: 1px solid $color-secondary-2-0;
}

#page-article header h1 {
 margin-top: 1ex;
 margin-bottom: 1ex;
 border-bottom: 0;
}

#page-article h2 {
 margin-top: 3ex;
}

#page-article footer {
 margin-top: 16ex;
}

#page-article main img {
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
 display: block;
}


.feature-box {
 text-align: center;
}

.feature-item {
 margin-top: 2ex;
 margin-bottom: 2ex;
}

#beneficios .feature-item-icon {
 color: $color-secondary-2-0;
}

.feature-item-icon {
 width: 100px;
 height: 100px;
 display: block;
 margin: 14pt auto;
 text-align: center;
 color: $color-primary-0;
}

i.feature-item-icon {
 font-size: 100px;
}

.feature-item-title {
 font-weight: 300;
 font-size: 150%;
 margin-bottom: 1ex;
 color: $color-secondary-2-4;
}


.standout-med {
 letter-spacing: 0.2ex;
 font-size: 120%;
}

.price-item, .price-calculator {
 padding: 4ex 2em 4ex;
 margin: 2ex;
 border-radius: 4px;
 background-color: $color-bg-light;
 color: $color-fg-dark;
}

.price-item-title {
 margin-top: 2ex;
 padding-bottom: 2ex;
 border-bottom: 1px solid #DDD;
 color: black;
}

.price-item-title span, .price-item-count {
 font-size: 250%;
 font-weight: 300;
}

@media only screen and (min-width: 992px) {
 .price-item-title span {
  font-size: 150%;
 }
 .section-overlay-dark:before,
 .block-overlay-dark {
  background: rgba(0,0,0, 0.55);
  background: linear-gradient(to right, rgba(0,0,0, 0), rgba(0,0,0, 0) 35%, rgba(0,0,0, 0.6) 50%, rgba(0,0,0, 0.95));
 }
}

.price-item-count {
 color: $color-complement-3;
}

.price-item small {
 display: block;
 color: #888;
}

.price-item-price {
 color: $color-primary-0;
 font-weight: normal;
 font-size: 120%;
 margin-top: 2ex;
 margin-bottom: 2ex;
}

.price-item-value {
 font-size: 200%;
 visibility: hidden;
}


.price-item-value-int, .price-item-value-dec {
 visibility: visible;
}


.price-item-action, .price-item-notes {
 margin-top: 2ex;
 margin-bottom: 2ex;
 border-top: 1px solid #DDD;
 padding-top: 2ex;
}

.price-item-notes em {
 color: #FF641B;
 font-weight: bold;
}


.price-calculator {
 padding: 4ex 6ex 6ex;
}

#contacto dt {
 margin-top: 3ex;
 margin-bottom: 0.75ex;
}

#contacto dt .fa {
 display: block;
 float: left;
 margin-left: -1.5em;
 width: 1.5em;
}

#contacto dt, #contacto dd {
 margin-left: 3em;
}


.section-inner {
 padding-top: 12ex;
 padding-bottom: 14ex;
}

.section-whitesmoke {
 background-color: #F5F5F5;
}

.section-dark {
 background-color: $color-bg-dark;
}

.section-dark,
.section-dark h1,
.section-dark h2,
.section-dark h3,
.section-dark h4,
.section-dark h5,
.section-dark h6 {
 color: $color-fg-light;
}

.section-primary {
 background-color: $color-primary-1;
}

.section-primary.section-dark {
 background-color: $color-primary-4;
}

.section-complement {
 background-color: $color-complement-1;
}

.section-complement.section-dark {
 background-color: $color-complement-4;
}

.section-secondary-1 {
 background-color: $color-secondary-1-1;
}

.section-secondary-1.section-dark {
 background-color: $color-secondary-1-4;
}

.section-secondary-2 {
 background-color: $color-secondary-2-1;
}

.section-secondary-2.section-dark {
 background-color: $color-secondary-2-4;
}


main section h1 {
 position: relative;
 padding-bottom: 1ex;
 margin-bottom: 2ex;
}

main section h1:before {
 content: "";
 position: absolute;
 left: 50%;
 width: 4em;
 margin-left: -2em;
 bottom: 0;
 height: 2px;
 background: $color-secondary-2-0;
}

main .section-secondary-2 h1:before {
 background: $color-complement-4;
}

main .section-dark h1:before {
 background: $color-secondary-2-3;
}

main .section-secondary-2.section-dark h1:before {
 background: $color-complement-3;
}



#page-footer {
 text-align: center;
 margin: 0;
 padding-top: 3ex;
 padding-bottom: 2ex;
 background-color: $color-bg-dark;
 letter-spacing: 0.1ex;
 color: #DDD;
}

#page-footer p {
 font-size: 9pt;
}

#page-footer .separator {
 color: #888;
}

#page-footer a, #page-footer a:link {
 color: #DDD;
 text-decoration: underline;
}

#page-footer a:hover {
 color: $color-complement-0;
}

#page-footer .footer-badge {
 margin: 2ex 3ex;
 height: 65px;
}


#form1_status {
 margin-top: 3ex;
}


.audio-box {
 background-color: $color-complement-4;
 padding: 1ex 2ex;
 text-align: center;
 border-radius: 8px;
 margin: 1ex 0;
}

.audio-box h3 {
 color: white;
}

.audio-control, .audio-control-playing {
 border-radius: 12px;
 transition: width 0.5s;
}

.audio-control {
 width: 100%;
}

.audio-control-playing {
 width: 100%;
}


.btn {
 background: none;
 padding: 12px 22px;
 border-radius: 24px;
}

.btn-primary {
 border: 2px solid $color-primary-0;
 color: $color-primary-0;
 transition: background 0.25s, color 0.25s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
 color: $color-fg-light;
 border-color: $color-primary-0;
 background-color: $color-primary-0;
}

.btn-primary:active, .btn-primary.active {
 border-color: $color-primary-0;
 color: $color-primary-1;
 box-shadow: none;
}

.section-dark .btn {
 border-color: $color-fg-light;
 color: $color-fg-light;
}

.section-dark .btn-primary:hover {
 background-color: $color-bg-light;
 color: $color-primary-4;
}


.btn-lg {
 color: $color-fg-light;
 border: 3px solid $color-fg-light;
 border-radius: 30px;
 transition: background 0.25s, color 0.25s;
}

.btn-lg:hover, .btn-lg:focus {
 background: $color-bg-light;
 color: $color-fg-dark;
}


.btn-youtube,
.btn-youtube:link {
 color: white;
 font-size: 128px;
}

.btn-youtube:hover,
.btn-youtube:focus {
 color: red;
}

