---
layout: null
---
<!DOCTYPE html>
<html lang="es">
  <head>
{% include head.html %}
  </head>
  <body id="page-home">
{% include main.menu.html option=index %}
    <main id="page-content">
      <header class="hero-unit">
        <div class="container">
          <h1>M&aacute;rketing telef&oacute;nico al alcance de todos</h1>
          <p>Fonobot le permite crear campa&ntilde;as de llamadas telef&oacute;nicas desde la web, de manera f&aacute;cil e intuitiva.</p>
          <p><a href="https://app.fonobot.com/signup.php" class="btn btn-primary btn-lg">Cree una cuenta gratis</a></p>
        </div>
      </header>

      <section id="que-es">
        <div class="container">
          <header>
            <h1>&iquest;Qu&eacute; es?</h1>
          </header>

          <div class="row">
            <div class="col-md-6">
              <p class="standout">Fonobot es un servicio que hace llamadas telef&oacute;nicas por usted, con la posibilidad de dirigirse a un p&uacute;blico o zona espec&iacute;ficas gracias a una amplia base de datos.</p>
            </div>
            <div class="col-md-6">
              <p class="standout text-center"><img class="img-responsive img-photo" src="{{ "img/index/que-es-08.jpg" : prepend:site.baseurl }}"></p>
            </div>
          </div>
          <p class="standout">&iquest;Para qu&eacute; sirve? Puede realizar una campa&ntilde;a publicitaria para aumentar las ventas de su comercio, ofrecer servicios, promocionar espect&aacute;culos, y muchas cosas m&aacute;s.</p>

          <h2>F&aacute;cil de usar</h2>
          <div class="row">
            <div class="col-md-6">
              <p class="standout">Puede hacer todo desde su computadora. S&oacute;lo tiene que crear su mensaje de audio, subirlo a nuestra plataforma, elegir a qui&eacute;nes va dirigido... &iexcl;y listo! Las llamadas se realizar&aacute;n en los d&iacute;as y horarios seg&uacute;n sus necesidades. Luego podr&aacute; realizar un seguimiento de la efectividad de la campa&ntilde;a.</p>
            </div>
            <div class="col-md-6">
              <p class="standout text-center"><img class="img-responsive img-photo" src="{{ "img/index/que-es-04.png" | prepend:site.baseurl }}"></p>
            </div>
          </div>
        </div>
      </section>

      <section id="como-funciona" class="feature-box">
        <div class="container">
          <header>
            <h1>C&oacute;mo funciona</h1>
          </header>

          <div class="row">

            <div class="feature-item col-md-4">
              <img class="feature-item-icon" src="{{ "img/index/feature-icon-grabe.png" | prepend:site.baseurl }}">
              <div class="feature-item-title">Grabe su mensaje</div>
              <div class="feature-item-body">
                <p>Ya sea contratando un estudio de grabaci&oacute;n, a un locutor profesional, o incluso desde su celular. El audio se almacenar&aacute; en nuestros servidores.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <img class="feature-item-icon" src="{{ "img/index/feature-icon-lugar.png" | prepend:site.baseurl }}">
              <div class="feature-item-title">Elija a d&oacute;nde llamar</div>
              <div class="feature-item-body">
                <p>&iquest;Desea que el mensaje se entregue cerca de su comercio? &iquest;En toda su localidad? &iquest;En una provincia? Fonobot buscar&aacute; los n&uacute;meros telef&oacute;nicos para llamar.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <img class="feature-item-icon" src=" {{ "img/index/feature-icon-fonobot.png" | prepend:site.baseurl }}">
              <div class="feature-item-title">Fonobot se ocupa del resto</div>
              <div class="feature-item-body">
                <p>Fonobot se encargar&aacute; de llamar a los n&uacute;meros de tel&eacute;fono indicados, y reproducir&aacute; el mensaje de audio que grab&oacute;.</p>
              </div>
            </div>

          </div>

        </div>
      </section>
      
      <section id="beneficios" class="feature-box">
        <div class="container">
          <header>
            <h1>Beneficios</h1>
          </header>

          <div class="row">

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fa fa-leaf" aria-hidden="true"></i>
              <div class="feature-item-title">Ecol&oacute;gico</div>
              <div class="feature-item-body">
                <p>Los folletos terminan ensuciando veredas y jardines. Fonobot entrega su mensaje de manera limpia y efectiva.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fa fa-smile-o" aria-hidden="true"></i>
              <div class="feature-item-title">Sencillo</div>
              <div class="feature-item-body">
                <p>No necesita de un experto. Ya sea con un celular, computadora o tablet, si tiene acceso a internet puede controlar sus campa&ntilde;as.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fa fa-usd" aria-hidden="true"></i>
              <div class="feature-item-title">Rentable</div>
              <div class="feature-item-body">
                <p>El costo por mensaje es menor al equivalente de otros medios, como los folletos, pancartas y afiches.</p>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="feature-item col-md-4 col-md-offset-2">
              <i class="feature-item-icon fa fa-tachometer" aria-hidden="true"></i>
              <div class="feature-item-title">Controlable</div>
              <div class="feature-item-body">
                <p>De manera directa y sin intermediarios. Puede ver la efectividad de sus campa&ntilde;as en el momento, y saber al instante el grado de respuesta.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fa fa-user-circle" aria-hidden="true"></i>
              <div class="feature-item-title">A su medida</div>
              <div class="feature-item-body">
                <p>Ya sea un call center buscando bajar los costos de atenci&oacute;n personalizada, o un comercio interesado en difundir sus ofertas en el barrio, tenemos un plan para usted.</p>
              </div>
            </div>

          </div>

        </div>
      </section>

    </main>
{% include footer.html %}
  </body>
</html>
