---
layout: null
use_lity: true
---
<!DOCTYPE html>
<html lang="es">
  <head>
{% include head.html %}
  </head>
  <body id="page-home">
{% include menu.main.html option=index %}
    <main id="page-content">

      <header class="hero-unit hero-primary section-dark" style="background-image:url({{ "/img/promo/20200429/hero.png" | prepend:site.baseurl }}); background-position: center top;">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="block-overlay block-overlay-dark">
                <h1>&iquest;Hace entregas a domicilio? &iexcl;Avise a sus clientes!</h1>
                <p>En estos tiempos de cuarentena y delivery, Fonobot lo ayuda a mantener y ampliar su clientela.</p>
                <p>
                  <a href="https://www.youtube.com/watch?v=yZIbJu2up0c" class="btn btn-lg btn-primary btn-block" data-lity="">Vea c&oacute;mo funciona</a>
                </p>
              </div>
            </div>
          </div><!-- .row -->
        </div><!-- .container -->
      </header>
{% comment %}
      <header class="hero-unit hero-primary section-dark section-overlay section-overlay-dark" style="background-image:url({{ "/img/promo/20190211/hero.png" | prepend:site.baseurl }});">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>M&aacute;rketing telef&oacute;nico al alcance de todos</h1>
              <p>Fonobot le permite crear campa&ntilde;as de llamadas telef&oacute;nicas desde la web, de manera f&aacute;cil e intuitiva.</p>
            </div>
            <div class="col-md-6">
              <a href="https://www.youtube.com/watch?v=yZIbJu2up0c" class="btn-youtube" data-lity=""><i class="fab fa-youtube"></i></a>
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </header>
{% endcomment %}
{% comment %}
<!--
      <header class="hero-unit section-dark">
        <div class="container">
          <h1>M&aacute;rketing telef&oacute;nico al alcance de todos</h1>
          <p>Fonobot le permite crear campa&ntilde;as de llamadas telef&oacute;nicas desde la web, de manera f&aacute;cil e intuitiva.</p>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <a href="https://www.youtube.com/watch?v=0sVuw13uKc0" class="btn btn-primary btn-lg btn-block" data-lity><span class="glyphicon glyphicon-play"></span> Vea el explicativo</a>
              <a href="https://www.youtube.com/watch?v=yZIbJu2up0c" class="btn btn-primary btn-lg btn-block" data-lity><i class="fas fa-play"></i> &iquest;Qu&eacute; es Fonobot?</a>
            </div>
            <div class="col-md-4">
              <a href="https://app.fonobot.com/signup.php" class="btn btn-primary btn-lg btn-block">Cree una cuenta gratis</a>
            </div>
          </div>
        </div>
      </header>
-->
{% endcomment %}

      <section id="que-es" class="section-whitesmoke section-inner">
        <div class="container inner">
          <header>
            <h1>&iquest;Qu&eacute; es Fonobot?</h1>
          </header>
          <p class="standout">Fonobot es un servicio que hace llamadas telef&oacute;nicas por usted, con la posibilidad de dirigirse a un p&uacute;blico o zona espec&iacute;ficas gracias a una amplia base de datos.</p>
          <h2>&iquest;Para qu&eacute; sirve?</h2>
          <p class="standout">Puede realizar una campa&ntilde;a publicitaria para aumentar las ventas de su comercio, ofrecer servicios, promocionar espect&aacute;culos, realizar encuestas, y muchas cosas m&aacute;s.</p>
        </div>
      </section>

      <section class="subhero-unit section-secondary-1 section-dark section-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <img class="img-responsive img-rounded" src="{{ "/img/index/redactor.jpg" | prepend:site.baseurl }}">
            </div>
            <div class="col-md-6 col-md-pull-6">
              <h1>Publicidad efectiva</h1>
              <p class="standout">Nuestros especialistas estar&aacute;n encantados de asesorarlo con el texto de su mensaje.</p>
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section>

      <section id="como-funciona" class="feature-box section-par section-inner">
        <div class="container">
          <header>
            <h1>C&oacute;mo funciona</h1>
          </header>

          <div class="row">

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fas fa-microphone-alt" aria-hidden="true"></i>
              <div class="feature-item-title">Grabe su mensaje</div>
              <div class="feature-item-body">
                <p>Puede grabarse usted mismo desde su celular. El audio se almacenar&aacute; en nuestros servidores.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fas fa-map-marked-alt" aria-hidden="true"></i>
              <div class="feature-item-title">Elija a qui&eacute;nes llamar</div>
              <div class="feature-item-body">
                <p>&iquest;Desea que el mensaje se entregue cerca de su comercio? &iquest;En una localidad? &iquest;A su lista de contactos? Fonobot preparar&aacute; los n&uacute;meros telef&oacute;nicos para llamar.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <img class="feature-item-icon" src=" {{ "/img/index/feature-icon-fonobot.png" | prepend:site.baseurl }}">
              <div class="feature-item-title">Fonobot se ocupa del resto</div>
              <div class="feature-item-body">
                <p>Fonobot se encargar&aacute; de llamar a los n&uacute;meros de tel&eacute;fono indicados, y reproducir&aacute; el mensaje de audio que grab&oacute; previamente.</p>
              </div>
            </div>

          </div>

        </div>
      </section>

{% comment %}
      <section class="subhero-unit section-secondary-2 section-dark section-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive img-rounded" src="{{ "/img/index/locutor.jpg" | prepend:site.baseurl }}">
            </div><!-- .col -->
            <div class="col-md-6 text-center">
              <h1>Voces profesionales</h1>
              <p>Elija la voz que m&aacute;s le guste y nosotros hacemos el resto.</p>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="audio-box">
                    Promo Mar
                    <audio class="audio-control" controls="controls" preload="none">
                      <source src="{{ "/media/fonobot-promo-mar.mp3" | prepend:site.baseurl }}" type="audio/mpeg">
                    </audio>
                    </div>
                  </div><!-- .col -->
                  <div class="col-sm-6">
                    <div class="audio-box">
                    Promo Nahuel
                    <audio class="audio-control" controls="controls" preload="none">
                      <source src="{{ "/media/fonobot-promo-nahuel.mp3" | prepend:site.baseurl }}" type="audio/mpeg">
                    </audio>
                    </div>
                  </div><!-- .col -->
                </div><!-- .row -->

            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section>
{% endcomment %}
      
      <header class="hero-unit hero-primary section-dark section-overlay section-overlay-dark" style="background-image:url({{ "/img/promo/20200508/hero.jpg" | prepend:site.baseurl }});">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <img class="img-responsive center-block" src="{{ "/img/promo/20200508/volante-prohibido.png" | prepend:site.baseurl }}">
            </div><!-- .col -->
            <div class="col-md-6 col-md-pull-6">
              <h1>Nos ayudamos entre todos</h1>
              <p>Sin repartir volantes en las calles. Nosotros llevamos el mensaje a todos sus potenciales clientes.</p>
              <a href="precios.html" class="btn btn-lg btn-primary">Consulte nuestros precios</a>
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </header>
      <section id="beneficios" class="feature-box section-inner">
        <div class="container">
          <header>
            <h1>Beneficios</h1>
          </header>

          <div class="row">

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fa fa-leaf" aria-hidden="true"></i>
              <div class="feature-item-title">Ecol&oacute;gico</div>
              <div class="feature-item-body">
                <p>Los folletos terminan ensuciando veredas y jardines. Fonobot entrega su mensaje de manera limpia y efectiva.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <i class="feature-item-icon far fa-smile" aria-hidden="true"></i>
              <div class="feature-item-title">Sencillo</div>
              <div class="feature-item-body">
                <p>No necesita de un experto. Ya sea con un celular, computadora o tablet, si tiene acceso a internet puede controlar sus campa&ntilde;as.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fa fa-usd" aria-hidden="true"></i>
              <div class="feature-item-title">Rentable</div>
              <div class="feature-item-body">
                <p>El costo por mensaje es menor al equivalente de otros medios, como los folletos, pancartas y afiches.</p>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="feature-item col-md-4 col-md-offset-2">
              <i class="feature-item-icon fas fa-tachometer-alt" aria-hidden="true"></i>
              <div class="feature-item-title">Controlable</div>
              <div class="feature-item-body">
                <p>De manera directa y sin intermediarios. Puede ver la efectividad de sus campa&ntilde;as en el momento, y saber al instante el grado de respuesta.</p>
              </div>
            </div>

            <div class="feature-item col-md-4">
              <i class="feature-item-icon fa fa-user-circle" aria-hidden="true"></i>
              <div class="feature-item-title">A su medida</div>
              <div class="feature-item-body">
                <p>Ya sea un call center buscando bajar los costos de atenci&oacute;n personalizada, o un comercio interesado en difundir sus ofertas en el barrio, tenemos un plan para usted.</p>
              </div>
            </div>

          </div>

        </div>
      </section>

      <section class="section-primary section-dark section-inner">
        <p class="standout">Use Fonobot para avisar, promocionar o encuestar en su barrio.</p>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <a href="https://app.fonobot.com/signup.php" class="btn btn-primary btn-lg btn-block">Pruebe Fonobot ahora</a>
            </div>
          </div>
        </div>
      </section>

    </main>
{% include footer.main.html %}
    <script type="text/javascript" src="{{ "/js/audio.js" | prepend:site.baseurl }}"></script>
  </body>
</html>
