---
layout: null
---
<!DOCTYPE html>
<html lang="es">
  <head>
{% include head.html %}
  </head>
  <body id="page-home">
{% include menu.main.html option="precios" %}
    <main id="page-content">

      <section id="section-precios" class="price-box section-primary section-dark text-center">
        <div class="container">
          <header>
            <h1>Precios</h1>
            <p class="standout-med">Sin cargos mensuales ni contratos. Compre y utilice sus llamadas cuando las necesite.</p>
            <p class="standout-med">Cobertura nacional en <strong>Argentina</strong>.</p>
          </header>


          <div class="row">
            <div class="col-md-4">
              <div class="price-item">
                {% comment %}<p class="price-item-title"><span>B&aacute;sico</span></p>{% endcomment %}
                <p class="price-item-price">$ <span class="price-item-value"><span class="price-item-value-int">2.000</span></span><small> + IVA</small></p>
                <p class="price-item-notes"><span class="price-item-count">2.000</span> <small>llamadas</small></p>
              </div>
              <p><a href="https://app.fonobot.com/signup.php" class="btn btn-lg btn-primary">Contratar</a></p>
            </div>
            <div class="col-md-4">
              <div class="price-item">
                {% comment %}<p class="price-item-title"><span>Popular</span></p>{% endcomment %}
                <p class="price-item-price">$ <span class="price-item-value"><span class="price-item-value-int">5.000</span></span><small> + IVA</small></p>
                <p class="price-item-notes"><span class="price-item-count">5.000</span> <small>llamadas</small></p>
              </div>
              <p><a href="https://app.fonobot.com/signup.php" class="btn btn-lg btn-primary">Contratar</a></p>
            </div>
            <div class="col-md-4">
              <div class="price-item">
                {% comment %}<p class="price-item-title"><span>Full</span></p>{% endcomment %}
                <p class="price-item-price">$ <span class="price-item-value"><span class="price-item-value-int">10.000</span></span><small> + IVA</small></p>
                <p class="price-item-notes"><span class="price-item-count">10.000</span> <small>llamadas</small></p>
              </div>
              <p><a href="https://app.fonobot.com/signup.php" class="btn btn-lg btn-primary">Contratar</a></p>
            </div>
          </div>

        </div>

        <footer>
          <p>Cada llamada corresponde a un minuto de comunicaci&oacute;n. Incluye destinos fijos y m&oacute;viles.</p>
          <p>La geolocalizaci&oacute;n s&oacute;lo est&aacute; disponible para destinos fijos. Para armado de campa&ntilde;as a m&oacute;viles consulte con su ejecutivo de cuenta.</p>
          <p>Precios sujetos a variaci&oacute;n sin previo aviso.</p>
        </footer>
      </section>

    </main>
{% include footer.main.html %}
  <script type="text/javascript" src="https://app.fonobot.com/mod/pub/cotizaciones.php"></script>
  <script type="text/javascript" src="/js/precios.js"></script>
  </body>
</html>
