    <footer id="page-footer">
      <div class="container">
        <div>
          <a href="https://www.facebook.com/fonobot" alt="Facebook" title="Facebook" target="_facebook" class="social-icon"><i class="fab fa-facebook-f"></i><span class="visible-lg-inline">/fonobot</span></a>
          <a href="https://www.twitter.com/fonobot" alt="Twitter" title="Twitter" target="_twitter" class="social-icon"><i class="fab fa-twitter"></i><span class="visible-lg-inline">/fonobot</span></a>
          <a href="https://www.instagram.com/fonobot" alt="Instagram" title="Instagram" target="_instagram" class="social-icon"><i class="fab fa-instagram"></i><span class="visible-lg-inline">/fonobot</span></a>
          <br class="visible-xs-block visible-sm-block">
          <a href="http://qr.afip.gob.ar/?qr=0HEWugLrIR_YFTAHTY4bBA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" class="footer-badge"></a>
          <a href="https://www.argentina.gob.ar/aaip/datospersonales/reclama/33716138009--RL-2019-5073991-APN-DNPDP#AAIP" target="_aaipInfo"><img src="https://www.argentina.gob.ar/sites/default/files/aaip-isologo.png" alt="AAIP RNBD" class="footer-badge"></a>
        </div>
        <p>
          <a href="{{ "/condiciones.html" | prepend:site.baseurl }}">T&eacute;rminos y condiciones</a>
          <span class="separator" aria-hidden="true">|</span>
          <a href="{{ "/privacidad.html" | prepend:site.baseurl }}">Pol&iacute;tica de privacidad</a>
          <span class="separator" aria-hidden="true">|</span>
          <a href="https://fonobot2-doc-user.readthedocs.io/es/latest/" target="_new">Gu&iacute;a del usuario</a>
          <span class="separator" aria-hidden="true">|</span>
          <a href="http://status.fonobot.com" target="_new">Estado del servicio</a>
        </p>
        <p class="copyright">Copyright &copy; 2014-2019 <a href="http://www.fonobot.com">Fonobot S.A.S.</a> Todos los derechos reservados</p>
      </div>
    </footer>
{% include footer.common.html %}
