    <footer id="page-footer">
      <div class="container">
        {% comment %}
        <p class="copyright">Copyright &copy; 2014-2016 <a href="http://www.netcomsatelital.com.ar" target="_new">NetCom Satelital S.A.</a> Todos los derechos reservados</p>
        {% endcomment %}
        <p>
          <a href="{{ "/condiciones.html" | prepend:site.baseurl }}">T&eacute;rminos y condiciones</a>
          <span class="separator" aria-hidden="true">|</span>
          <a href="{{ "/privacidad.html" | prepend:site.baseurl }}">Pol&iacute;tica de privacidad</a>
          <span class="separator" aria-hidden="true">|</span>
          <a href="https://fonobot2-doc-user.readthedocs.io/es/latest/" target="_new">Gu&iacute;a del usuario</a>
          <span class="separator" aria-hidden="true">|</span>
          <a href="http://status.fonobot.com" targe="_new">Estado del servicio</a>
        </p>
      </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% if site.production %}
{% include google-analytics.html %}
{% include tawk-to.html %}
{% endif %}{% if page.use_lity %}    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.js"></script>{% endif %}
